<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <div class="container">
      <button id="btn">Create room</button>

      <script src="/static/javascript/index.js"></script>
    </div>
  </body>
</html>
