<!DOCTYPE html>
<html>
  <% include partials/head %>
  <body>
    <div class="container">
      <h1>
        <%= channelId %>
      </h1>

      <script src="/static/javascript/room.js"></script>
    </div>
  </body>
</html>
